<h2> All the Vehicles are HERE: </h2>

<% reservations.forEach(function(reservation) {%>


<div>
	
	<a href="/reservations/<%= reservation.id%>" style="font-size:25px">
		#<%= reservation.name %>
	</a>
	
	<a href="/reservations/edit/<%=reservation.id%>" class="btn btn-warning">
		Change reservation?	
	</a>
	
	<a href="/reservations/<%=reservation.id%>" class="btn btn-danger delete-btn">
		Delete reservation?	
	</a>
</div>



<%});%>


