<h2> All the Vehicles are HERE: </h2>

<% vehicles.forEach(function(vehicle) {%>


<div>
	
	<a href="/vehicles/<%= vehicle.id%>" style="font-size:25px">
		==> <%= vehicle.model %>  <==
	</a>
	
	<a href="/vehicles/edit/<%=vehicle.id%>" class="btn btn-warning">
		Change reservation?	
	</a>
	
	<a href="/reservations/<%=vehicle.id%>" class="btn btn-danger delete-btn">
		Delete reservation?	
	</a>
</div>



<%});%>


