<h2>Create a New Vehicle</h2>

<form method="POST" action="/vehicles">
  <div class="form-group">
    <label for="name">Make:</label>
    <input type="text" name="make" placeholder="What's the make of this vehicle?" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="name">Model:</label>
    <input type="text" name="model" placeholder="What's the model of this vehicle?" class="form-control">
  </div>

  <div class="form-group">
    <label for="name">Number of seats:</label>
    <input type="number" name="numSeats" placeholder="The number of seats in this vehicle?" class="form-control" required>
  </div>

  <div class="form-group">
   <input type="checkbox" name="userId" value="1" checked> Must be Admin
   <br>
   <hr>
   Not an admin? <a href="/auth/signup">Register Admin Here!</a>
 </div>
 <br>

 <input type="submit" value="Add vehicle" class="btn btn-primary light-blue darken-2">

</form>