   <footer class="page-footer light-blue darken-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">About</h5>
                <p class="grey-text text-lighten-4"> This project is a prototype of online rental businesses, the rows and columns here can be used to organize footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Follow Me</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/yuanjli">Github</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/yuanjieli-iub/">LinkedIn</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright Text
            <a class="grey-text text-lighten-4 right" href="https://twitter.com"> Twitter</a>
            </div>
          </div>
</footer>