  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Yuanjie Li</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <%if(currentUser) {%>
        <li><a href="/profile">Profile </a></li>
        <li><a href="/auth/logout"> Logout </a></li>
       <%}  else { %> 
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/signup/"> Signup </a></li>
        <% } %>
      </ul>
    </div>
  </nav>




