
<div class="container">
<h2 class="text-danger"> Oh no!</h2>

<p> Either we couldn't find the page you were looking for or there is something wrong on our end! </p>
<p> If you are a developer, check the logs! </p>
</div>