<h3>  Home  </h3>

<h5>  The home of Goat Express Ride </h5>

    
 <!-- landingHeader -->   
    <div id="landing-header">
 		<h1>Welcome to Goat Express!</h1>
		<a href="/campgrounds" class="btn btn-lg btn-success">View All Vehicles</a>

	<!-- 	<ul class="slideshow">
      		<li></li>
      		<li></li>
      		<li></li>
     		 <li></li>
     		 <li></li>
    	</ul> -->


    </div>   
<br>
<br> 


<!-- The Search form-->
<div id="about">
	<div id="contact" class="text-center z-depth-3">
		<div class="container">
			<div class="section-title center">
				<h2 class="flow-text">Search Our Vehicles</h2>
				<hr> </div>
				<div>
					<h6>Start your next amazing trip from here</h6>
					<form name="sentMessage" id="contactForm" novalidate>
						<!-- 	Start class row -->
						<div class="row">
							<div id="time" class="form-group">
								<div Class="col s12 m6 card-panel cyan lighten-5">
									<label for="date"> Start Date:</label>
									<input type="date" name="date" id="date">
									<br>
									<label for="date">Start Time:</label>
									<input type="time">
								</div>
								<div Class="col s12 m6 card-panel cyan lighten-5">
									<label for="date2">End Date:</label>
									<input type="date" name="date2" id="date2">
									<br>
									<label for="date">End Time:</label>
									<input type="time">
								</div>								
							</div>
							<p class=""> That Something is optional </p>

							<div class="col s12 m12 blue lighten-5">
								<div class="input-field col s6">
									<input placeholder="first_name" id="first_name" type="text" class="validate">
									<label for="first_name">First Name</label>
								</div>
								<div class="input-field col s6">
									<input placeholder="last_name" id="last_name" type="text" class="validate">
									<label for="last_name">Last Name</label>
								</div>
								<div class="form-group col s12">
									<label for="email">Email:</label>
									<input type="email" id="email" class="form-control" placeholder="Email" required="required" name="email" id="email">
								</div>
								<label for="textfield">Vehicle Type:</label>
								<p> <label> <input type="checkbox" checked="checked" /> <span>Small</span> </label> </p>
								<p> <label> <input type="checkbox">     <span>Medium</span> </label></p>
								<p> <label><input type="checkbox">      <span>Large</span> </label> </p>
							</div>
							<!-- End class row -->
						</div>
						<!-- Message box -->
						<div class="form-group">
							<textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
						</div>

						<div class="progress"> <div class="indeterminate">  </div> </div>

						<div id="success">
							<button type="submit" class="btn waves-effect waves-light">Search Deals</button>
						</div>
						<br>

					</form>
				</div>
			</div>
		</div>
	</div>

	<br>
	<!--<Collections>-->

		<div class="collection z-depth-2">
			<a href="#!" class="collection-item active">Link for cool stuff</a>
			<a href="#!" class="collection-item">link for cooler stuff</a>
			<a href="#!" class="collection-item">link for coolest stuff</a>
		</div>
