<!DOCTYPE html>
<html>
<head>
	<title> Goat Express </title>
	<!-- Compiled and minified CSS -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
	<% include partials/navbar %>

	<div class="container">
		<%- body %>

		<% include partials/alerts %>
	</div>
	
	<br>
	<br>
	<% include partials/footer %>

	<!-- Including jQuery lib -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
	<script>
		$(document).ready(function(){
			$('.datepicker').datepicker();
			$('select').formSelect();
			$(".dropdown-trigger").dropdown();
			$('.sidenav').sidenav();
		});
	</script>
</body>
</html>



