<!DOCTYPE html>
<html>
<head>
	<title> Goat Express </title>
	<link rel="shortcut icon" href="../public/images/express.svg" />
	<!-- Compiled and minified CSS -->
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
	<!--Import fontawesome -->
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<!-- Add inapp style css -->
	<link rel='stylesheet' href='/css/style.css'>
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>


<body>
	<% include partials/navbar %>

	
	<%- body %>
	<div class="container">
		<% include partials/alerts %>
	</div>
	
	<br>
	<br>
	<% include partials/footer %>

	<!-- Including jQuery lib -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
	<script type="text/javascript" src="/ajax-calls.js"></script>
	<script>
			// Other JS for materialize
			$(document).ready(function(){
				$('.datepicker').datepicker();
				$('select').formSelect();
				$(".dropdown-trigger").dropdown();
				$('.sidenav').sidenav();
			//$('.slider').slider();
			$('.parallax').parallax();
			$('.materialboxed').materialbox();
		});
		// Slider
		const slider = document.querySelector('.slider');
		// M is the materialize js library to initialize the slider. 
		M.Slider.init(slider, {
			indicators: false,
			height: 500,
			transition: 500,
			interval: 6000
		});
		// Auto Complete
		const ac = document.querySelector('.autocomplete');
		M.Autocomplete.init(ac, {
			data: {
				"Washington": null,
				"California": null,
				"Hawaii": null,
				"Florida": null,
				"Chicago": null,
				"Oregen": null,
				"Indiana": null,
			}
		});

		

	</script>
</body>
</html>



